@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #314755;
}

#content {
    display: flex;
    min-height: 100vh;
    min-width: 100vw;
}

#contentContainer {
    background-color: rgb(38, 41, 43);
    -webkit-box-shadow: 0px 0px 28px 8px #000000; 
    box-shadow: 0px 0px 28px 8px #000000;
    display: flex;
    flex-wrap: wrap;
    height: 95vh;
    width: 100%;
    margin: 20px;
    border-radius: 25px;
    overflow: hidden;
}

#header {
    display: flex;
    align-items: center;
    height: fit-content;
    width: 100%;
    color: white;
    border-bottom: solid rgb(254, 252, 252, 0.1) 1px;
}

#headerChildrenContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: fit-content;
    font-size: 2.3rem;
    text-align: center;
}

#headerChildrenContainer > i {
    margin: 5px;
    margin-left: 30px;
}

#headerChildrenContainer > h3 {
    margin: 5px;
    font-weight: 200;
}

#headerIcon {
    height: fit-content;
    width: fit-content;
}

#headerTitle {
    height: fit-content;
    width: fit-content;
}

#sideAndMainContainer {
    display: flex;
    height: max-content;
    width: 100%;
}

#sideAndMainContainer > div {
    display: flex;
    height: 81vh;
}

#sideColumn {
    display: flex;
    flex-direction: column;
    border: solid rgb(254, 252, 252, 0.9) 1px;
    -webkit-box-shadow: 0px 0px 28px 8px #000000; 
    box-shadow: 0px 0px 28px 8px #000000;
    width: clamp(250px, 15%, 15%);
    background: -webkit-linear-gradient(to bottom, #e9c46a, #e76f51);  
    background: linear-gradient(to bottom, #e9c46a, #e76f51);
    border-radius: 23px;
    overflow: scroll;
    margin: 25px;
}

#sideColumnFirstChild {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: fit-content;
    width: fit-content;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: 200;
}

#sideColumnFirstChild > div {
    display: flex;
    height: fit-content;
    width: 100%;
    margin: 5px;
    padding: 3px;
    text-align: center;
    cursor: pointer;
    border-bottom: solid rgba(0, 0, 0, 1) 1px;
    border-top: solid rgba(0, 0, 0, 1) 1px;
}

#sideColumnFirstChild > div:hover {
    background-color: rgba(79, 78, 78, 0.31);
}

#sideColumnFirstChild > div > i, p {
    height: fit-content;
    margin: 5px;
}

#sideColumnSecondChild {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 200;
    overflow: scroll;
}

#sideColumnAddProjectContainer {
    display: flex;
    align-items: center;
    border-bottom: solid rgba(0, 0, 0, 1) 2px;
    height: fit-content;
    width: 100%;
    margin-bottom: 5px;
    padding: 3px;
    font-size: 1.2rem;
    cursor: pointer;
}

#sideColumnAddProjectContainer:hover {
    background-color: rgba(79, 78, 78, 0.31);
}

#sideColumnAddProjectContainer > i, h4 {
    display: flex;
    height: fit-content;
    margin: 5px;
    font-weight: 300; 
}

#sideColumnSecondChild > :nth-child(n+2) {
    display: flex;
    align-items: center;
    height: fit-content;
    width: 90%;
    margin: 5px;
    margin-bottom: 2px;
    padding: 10px;
    font-size: 1.1rem;
    cursor: pointer;
}

#newNameTextfieldInput[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 1.2s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
 }

#sideColumnSecondChild > #newNameContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 3px;
    margin-bottom: 10px;
}

#newNameAddButton {
    margin-right: 40px;
    margin-top: 10px;
    color: white;
}

#newNameCancelButton {
    margin-left: 40px;
    margin-top: 10px;
    transform: rotate(45deg);
    color: tomato;
}

#newNameTextfieldInput {
    width: 100%;
    height: 2.5vh;
    border: none;
    border-bottom: 1px solid;
    padding: 5px 10px;
    outline: none;
    margin: 5px;
    font-size: 1rem;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: transparent;
}

#sideColumnSecondChild > .newProjectContainer {
    width: 85%;
    border: solid rgb(0, 0, 0, 0.6) 1px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    color: white;
    background: rgb(38, 41, 43);
    transition: transform 350ms ease-out;
}

.newProjectContainer:hover {
    transform: translate(2px, 0px);
}

#mainSquare {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    margin: 25px;
    margin-left: 0px;
}
/*TODO Add clamp*/
#mainSquareChildrenContainer {
    height: 80vh;
    width: clamp(50vw,70%, 100vw);
    padding: 10px;
}

#mainSquareTitleChild {
    display: flex;
    justify-content: start;
    align-items: center;
    height: fit-content;
    width: 100%;
    margin-bottom: 10px;
    text-align: center; 
    color: white;
    font-size: 2rem;
    font-weight: 200;
}

#mainSquareTitleChild > i {
    width: 10%;
    font-size: 1.5rem;
}

#mainSquareTitleChild > h4 {
    width: 90%;
    margin-left: 8%;
}

#mainSquareTitleIconChild {
    cursor: pointer;
}

#mainSquareTasksChild {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: fit-content;
    width: 100%;
}

.taskNameContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: fit-content;
    width: 100%;
    margin-bottom: 10px;
}

#taskNameInput {
    height: 2.5vh;
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255, 0.5);
    padding: 5px 10px;
    outline: none;
    margin: 5px;
    margin-left: 25%;
    margin-right: 25%;
    font-size: 1rem;
    font-family: "Lucida Console", "Courier New", monospace;
    background-color: transparent;
    color: white;
}

#taskNameInput[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 3s 0.4s ease; 
    text-indent: -100%;
    opacity: 1;
 }

#taskNameAdd {
    margin-right: 40px;
    margin-top: 10px;
    color: white;
    cursor: pointer;
}

#taskNameCancel {
    margin-left: 40px;
    margin-top: 10px;
    transform: rotate(45deg);
    color: tomato;
    cursor: pointer;
}

/*TODO Clamp on height*/
.newTaskContainer {
    display: flex;
    height: fit-content;
    width: 100%;
    cursor: pointer;
    color: rgb(254, 252, 252, 0.7);
    margin: 5px;
    margin-left: 10px;
    margin-top: 10px;
    padding: 10px;
    border-left: solid rgb(254, 252, 252, 0.5) 1px;
}

/*TODO Finish this*/
.newTaskContainer:hover {
    border-left: solid rgb(254, 252, 252, 1) 1px;
    color: rgb(254, 252, 252, 1);
}

.newTaskContainer > div {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 100%;
}

#newTaskIcon {
    width: 5%;
}

#newTaskName {
    width: 50%;
    font-size: 1.1rem;
}

#newTaskDate {
    justify-content: center;
    width: fit-content;
    text-align: center;
    font-size: 1rem;
}

@media screen and (max-width: 425px) { 
    #sideAndMainContainer {
        border: solid purple;
        flex-direction: column;
    }

    #mainSquare {
        border: solid tomato;
    }
}